{% extends 'base_html/layout.html' %}
{% load my_tags %}
{% block css %}
    <style>
        #filtertxt1 {
            padding-left: 10px;
            padding-right: 10px;
            width: 330px;
            height: 39px;
            border: 1px solid #394c62;
            border-radius: 20px;
        }

        .sousuo {
            width: 98px;
            height: 39px;
            border-radius: 19px;
            border: none;
            font-size: 16px;
            background: #486d90;
            color: #fff;
        }

        button {
            text-align: center;
        }

        .button {
            border: 1px solid rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 0 0 6px rgba(0, 0, 0, 0.06), 0 0 0 3px rgba(0, 0, 0, 0.1);
        }

        .title {
            padding: 10px;
            float: left;
            color: #fff;
            font-weight: 800;
            font-size: 20px;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 19px;
        }

        .price {
            padding: 10px;
            float: left;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 800;
            font-size: 20px;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
            border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}
{% block content %}

    <form action="" method="post" class="form-inline">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>选项</th>
                <th>序号</th>
                <th>学生</th>
                <th>考勤</th>
                <th>成绩</th>
                <th>评语</th>
            </tr>
            </thead>
            <tbody style="text-align: center">

            {% for foo in form_set %}
                <tr>
                    <td><input name="optionses" value="{{ foo.pk }}" type="checkbox"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ foo.student }}</td>
                    <td>{{ foo.attendance }}</td>
                    <td>{{ foo.score }}</td>
                    <td>{{ foo.homework_note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      <button type="submit" class="btn  btn-success">保存</button>

    </form>
    {% if form_set %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page_obj.page_html }}
            </ul>
        </nav>
    {% endif %}

{% endblock %}
